/**{ border: 1px solid black}*/

body {
  min-height: 100%;
  height: 100%;
  background: linear-gradient(to right, #004b34, #008269);
}
#main {
  height: 70%;
}
#quint {
  height: 30%;
  bottom: 0;
  position: fixed;
}

#main-head {
  text-align: center;
  height: 7em;
  margin: 0 auto;
  /*background-image: url('./images/background.png');*/
}

#main-head, #input-boxes, #input-buttons {
  text-align: center;
  display: block;
}

#logo {
  background-color: #f01930;
  height: 6em;
  width: 18em;
  border-radius: 23px;
  padding-top: 1em;
  color: white;
  border: 10px solid #8a1923;
  margin: 0 auto;
}

.letter-box {
  display: inline-block;
  height: 8em;
  width: 8em;
  background-color: #f2eba7;
}

#input-boxes {
  margin-top: 4em;
}

button {
  height: 1em;
  width: 1em;
  font-size: 300%;
  background-color: Transparent;
  color: #f2eba7;
  border: none;

}

#input-buttons {
  margin-top: 1em;
  color: #f2eba7;
}
